.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.profile-title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    margin-top: 100px;
    padding-bottom: 24px;
}

.profile-general-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('/static/car_images/subaru_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 960px;
    padding: 20px;
}

.profile-image {
    width: 156px;
    height: 156px;
    object-fit: cover;
    border-radius: 50%;
}

.right-container {
    background-color: rgba(141, 141, 141, 0.4);
    border-radius: 16px;
}