*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


body {
position: relative;
background-color: #101010;
font-family: 'Montserrat', sans-serif;
}

header a {
    text-decoration: none;
    color: inherit;
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    color: #FFC107;
    background-color: #121212;

    padding-top: 20px;
    padding-bottom: 20px;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 9999;
    
}

.header-right-container {
    flex: 0.5;
}

.dropdown-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    position: fixed;
    left: 32px;
    top: -100px;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
}

.dropdown-menu-container.active {
    visibility: visible;
    transform: translateY(180px);
    opacity: 1;
}

.dropdown-menu-container a {
    color:#FFC107;
    margin: 6px 4px;
    text-align: center;
}

.menu-user-icon {
    width: 196px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 12px;
}

.menu-user-name {
    font-size: 22px;
    font-weight: 700;
    margin: 6px 0px;
    margin-bottom: 16px;
}

.header-profile-image {
    width: 48px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 100px;
}

.header-profile-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    flex: 0.5;
}

.logout-button {
    color: rgb(255, 255, 255);
    background-color: #FFC107;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 18px;
    border-radius: 16px;
    margin-top: 12px;
    transition: background-color 0.15s,
                box-shadow 0.15s;
}

.logout-button:hover {
    background-color: #d19e03;
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.2);
}

.logout-button:active {
    background-color: #bc900a;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFC107;
    margin-bottom: 40px;
}
